*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: large;
}
.container{
    padding: 5px;
    margin: 10px;
    
}
#add{
    width: 220px;
    padding: 5px;
    background-color: rgb(60, 150, 60);
    border: 1px solid #000;
    border-radius: 4px;
    color: #FFF;
}
.carro{
    width: 500px;
    margin-bottom: 6px;
    padding: 5px;
    border: 1px solid #000;
}